.myModal{
    position: fixed;
    top:0;
    bottom:0;
    right: 0;
    left:0;
    display: none;
    z-index: 100;
    background: rgba(0,0,0, 0.5);
}
.Content{
    padding: 3%;
    background: white;
    border-radius: 16px;
    width: fit-content;
    min-height: 30%;
}

.Modalactive{
    display: flex;
    justify-content: center;
    align-items: center;

}