.action{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:98%;
    padding: 2%;
    margin-top: 2%;
    border-radius: 22px;
}
.action:hover{
    background: lightblue;
}
.act_img{
    float: left;
    padding: 5px;
    border-radius: 50%;
    background: #F6F4F4;
}
.act_txt{
    margin-left: 3%;
    font-size: 20px;
}