.navbar{
    position: sticky;
    top:0;
    left: 0;
    height: 70px;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    background:#FFFFFF;
}
.left_links{
    margin-right: auto;
    margin-left: 1%;
}
.right_links{
    margin-left: auto;
}
.navimg{
    margin-left: 2%;
    width: 50px;
    height: 50px;
}
.navbar_link{
    padding: 7px;
    color: black;
    text-decoration: none;
    font-size:22px;
}
.navbar_link:hover{
    color:#468ccb
}