.navbar{
    position: sticky;
    top:0;
    left: 0;
    height: 70px;
    padding: 5px;
    min-width: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 50;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    background:#FFFFFF;

}
.left_links{
    margin-right: auto;
    margin-left: 1%;
}
.right_links{
    margin-left: auto;
}
.navimg{
    margin-left: 2%;
    width: 50px;
    height: 50px;
}
.navimg:hover{
    cursor: pointer;
}
.navbar_link{
    padding: 7px;
    color: black;
    text-decoration: none;
    font-size:22px;
}
.navbar_link:hover{
    color:#468ccb;
    cursor: pointer;
}
.exit-img{
    margin-top: 45%;
    margin-left: 2%;
    width: 20px;
    height: 20px;
}
.bank-title{
    color:#6B3FA0;
    text-shadow: 1px 1px 2px blueviolet;
}