.cardholder{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #FFFFFF;
    border-radius: 22px;
    width: 60%;
    height: 70%;
    margin-top: 5%;
    margin-left: 34%;
    padding: 2%;
}
.cardFrom{
    font-size: 20px;
    margin-top: 2%;
}
.cardTo{
    font-size: 20px;
    margin-top: 2%;
}
.submition{
    display: flex;
    flex-direction: column;
}

.cin{
    width: 100%;
    padding-left: 2%;
    font-size: 20px;
    height: 45px;
    margin-bottom: 3%;
    margin-top: 5%;
    border-radius: 12px;
    text-align: left;
}
.access{
    display: inline-block;
    background: #FFFFFF;
    width: 60%;
    height: 70%;
    border-radius: 22px;
    font-size: 16px;
    margin-top: 10%;
    margin-left: 5%;
    padding: 2%;
    align-items: center;
    text-align: center;
}