.arrow{
    position: absolute;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-left:90% ;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(45deg);
    transition:all 0.5s;
}

.arrow.isvis{
    transform: rotate(225deg);
    transition:all 0.5s;
}
