
.new_cardList{
    width: 25%;
    min-height: 80px;
    min-width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 1%;
    font-size: 22px;
    text-align: center;
    height: fit-content;
    border-radius: 22px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);
}

.title_list{
    display: flex;
    align-items: center;
    margin-top: 3%;
    flex-direction: row;
    position: relative;
}
.name_list{
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.list_accounts{
    display: flex;
    padding: 1%;
    margin-top: 4%;
    flex-direction:column;
}


.list_type{

    margin-top: 5%;
    margin-bottom: 2%;
}


