
.card_list{
    display: flex;
    padding: 10px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 3%;
    background: #FFFFFF;
    justify-content: center;
    width:25%;
    min-height: 5px;
    font-size: 22px;
    height: 50%;
    text-align: center;
}
.cardl{
    margin-bottom: 2%;
}
.tit{
    margin-bottom: 3%;
}
