
.card_list{
    display:flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 22px;
    position: fixed;
    margin-top: 4%;
    margin-left: 2%;
    background: #FFFFFF;
    justify-content: center;
    width:25%;
    height:80%;
    font-size: 22px;
    text-align: center;
    min-width: 25%;

}

.cardl{
    margin-bottom: 2%;
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.cardl::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.tit{
    margin-bottom: 3%;
}
