
.card_list{
    display:inline-block;
    padding: 10px;
    border-radius: 22px;
    position: sticky;
    margin-top: 4%;
    margin-left: 3%;
    background: #FFFFFF;
    justify-content: center;
    width:25%;
    min-height: 5px;
    font-size: 22px;
    height: 50%;
    text-align: center;
}
.cardl{
    margin-bottom: 2%;
}
.tit{
    margin-bottom: 3%;
}
