.page_char{
    display: flex;
    min-height: 100vh;
    background: rgb(131,228,192);
    flex-direction: row;
    position: relative;
    width: 100%;
    padding-top: 5%;
    padding-left: 3%;
    background: linear-gradient(0deg, rgba(131,228,192,1) 50%, rgba(158,206,251,1) 80%);
}