

.infor{
    margin-top: 4%;
    border-radius: 22px;
    width: 60%;
    height: 70%;
    display: inline-block;
    margin-left: 34%;
    background: #FFFFFF;
}
.descr{
    padding: 5%;
}
.descr_txt{
    padding: 2%;

}
.bl{
    padding: 1%;
    margin-left: 1%;
}
.spec{
    font-size: 16px;
    color:grey
}
.abil{
    width: 40%;
    display: inline-block;
    margin-bottom: 4%;
}