
.myBtn{
    width: 100%;
    border: none;
    padding: 1%;
    margin-top: 4%;
    font-weight: 600;
    border-radius: 16px;
    background: aquamarine;
    height: 50px;
    box-shadow:   0px 5px 5px mediumaquamarine;
    font-size: 18px;
}
.myBtn:hover{
    background: mediumaquamarine;
    box-shadow:   0px 5px 5px rgba(0,0,0,0.25);
    cursor: pointer;
}
.myInput{
    width: 100%;
    padding-left: 2%;
    font-size: 20px;
    height: 45px;
    border: 5px white;
    margin-top: 4%;
    background:rgba(0,0,0, 0.05);
    margin-bottom: 3%;
    border-radius: 10px;
    outline: none;
    text-align: left;
}
.myInput:focus{
    box-shadow:   0px 5px 5px mediumaquamarine;
    border-color: #468ccb;
    outline: #468ccb;
}
.error--input{
    box-shadow:0px 0px 4px 1px #6B3FA0;
}
.error{
    color:blueviolet;
    font-size: 16px;
    text-align: left;
    margin-top: 3%;
}

.info_box{
    background: white;
    display: flex;
    padding: 2%;
    flex-direction: column;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    @media (max-width: 700px) {
        margin-top: 5%;
    }
}
.row-direct{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.btn__link{
    background: none;
    margin-top: 3%;
    border: none;
    font-size: 16px;
    color:grey;
}
.btn__link:hover{
    color: mediumaquamarine;
    cursor: pointer;
}