.page_chr{
    display: flex;
    min-height: 100vh;
    background: rgb(131,228,192);
    background: linear-gradient(0deg, rgba(131,228,192,1) 50%, rgba(158,206,251,1) 80%);
    font-family: sans-serif;
}
.myBtn{
    width: 100%;
    border: none;
    padding: 1%;
    margin-top: 4%;
    border-radius: 16px;
    background: aquamarine;
    height: 50px;
    font-size: 18px;
}
.myBtn:hover{
    background: mediumaquamarine;
    cursor: pointer;
}
.myInput{
    width: 100%;
    padding-left: 2%;
    font-size: 20px;
    height: 45px;
    margin-bottom: 3%;
    border-radius: 12px;
    text-align: left;
}
.error{
    color:blueviolet;
    font-size: 16px;
    margin-top: 3%;

}