.reg__modal{
    display: flex;
    padding: 1% 2% 2%;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    background: white;
    justify-content: space-around;
    border-radius: 22px;
    width:400px;
    height: fit-content;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.25) ;
    @media (max-width: 700px) {
        width: 80%;
        padding: 3% 3% 8%;
        z-index: 100;
    }
}
.confirmTitle{
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}
.reg_form{
margin-top: 5%;
}
.head__reg{
    margin: 4% auto 2%;
}
.reg__link{
    margin-right: auto;
    background: white;
    text-align: left;
    border: none;
    margin-top: 4%;
    font-size: 14px;
    color:grey;
    width: 80%;
}
.reg__link:hover{
    color: black;
    cursor: pointer;
}
.reg__input{
    margin-top: 5%;
    width: 80%;
    font-size: 18px;
    padding: 2%;
    height: 45px;
    border-radius: 16px;
}
.reg__nav{
    margin-top: 5%;
    margin-right: auto;
}
.reg__button{
    margin-top: 7%;
    border-radius: 16px;
    background: aquamarine;
    width: 80%;
    height: 50px;
    border: none;
    font-size: 18px;
 }
.reg__button:hover{
    background: mediumaquamarine;
}
.email{
    margin-left: 5%;
    padding: 2%;
    margin-top: 2%;
    font-size: 16px;
}
.where{
    margin-left: 5%;
    display: inline-block;
    margin-right: 5px;
    margin-top: 2%;
    color: #212121;
}
.user_email{
display: inline-block;
}
.toolTip{
    background-color: whitesmoke;
    color: grey;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
    padding: 20px 18px 18px 22px;
    border-radius: 10px;
    display: block;
    width: 256px;
}
