.about--transfer{
    margin-top: 4%;
    font-size: 22px;
}

.chek_p{
    font-size: 20px;
    margin-top: 1%;
    margin-left: 1%;
}
.transferData{
    width: 97%;
    margin-top: 4%;
    margin-left: 2%;
}
.check_operation{
    align-items: start;
    width: 45%;
    padding-top: 0;
    padding-left: 2%;
    height: fit-content;
    margin-left: 12%;
}
.back--btn{
        width: 15px;
        height: 15px;
        cursor: pointer;
        margin-top: 4%;
        border-top: 2px solid black;
        border-left: 2px solid black;
        transform: rotate(-45deg);
}
.back--btn:hover{
    border-top: 2px solid mediumaquamarine;
    border-left: 2px solid mediumaquamarine;
}