.history__list{
    display: inline-block;
    width: 60%;
    background: white;
    height: 80%;
    margin-left: 8%;
    padding: 3% 3% 4%;
}

.operations{
    margin-top:5%;
}
.history_item{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    padding: 1% ;
    border-radius: 22px;
}
.history_item:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.operation_chr{
    margin-top: 2%;
}
.general_info{
    padding: 4%;
    font-size: 22px;
}


.total{
    margin-left: auto;
    margin-top: 2%;
}